#dataField {
	height: 300px;
}

.hidden {
	display: none;
}

canvas {
	width: 100% !important;
	height: auto !important;
}

.inline-btn {
	margin-right: 10px !important;
	margin-left: 10px !important;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: flex-start;
}

.column {
	flex-grow: 1;
	margin-bottom: 0px;
}
